@mixin easeOut {
    transition: all 0.5s ease-out;                
}
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin background {
@if $show-home-image {
    &#bg-img {
        background: $home-image;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &:after {
            content:'';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(color(primary), $background-opacity);
            z-index: -1;
        } 
    }
}
}
$colors: (
    primary: #444,
    accent: #eece1a,
    font: #fff,
);
@function color($colorName) {
    @return map-get($map: $colors, $key: $colorName)
}